name: Sync to Hugging Face hub

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   # عشان الهيستوري كامل
          lfs: true        # لو احتجت Git LFS لاحقًا

      - name: Push to Hugging Face Space
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          # نظف remote قديم لو موجود
          git remote remove space || true

          # أضف remote للـ Space
          git remote add space https://CIAZIZ:$HF_TOKEN@huggingface.co/spaces/CIAZIZ/Bayan-BinBaz

          # ادفع فرع main إلى الـ Space
          git push --force space main
